@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
/* 구간 나눠둔 css */
#slide_wraps .page {
  width: 100%;
  height: 100vh;
  padding: 100px;
  font-size: 70px;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
}

/* 폰트넣기 */
html,
body {
  position: relative;
  height: 100%;
  font-family: "locus_sangsang";
}

body {
  background: #434343;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style-type: none;
}

#wraper {
  width: 100%;
}

#s_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 400vw;
}

.slide > li {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.slide > li > img {
  width: 100%;
  height: 100%;
}

.slide li:first-child {
  z-index: 3;
}

.slide li:nth-child(2) {
  z-index: 2;
}

.slide li:last-child {
  z-index: 1;
}

/* 슬라이드 메뉴바 폰트추가 */
#mainbanner {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "ChosunBg";
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.banner_one {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.banner_one > li {
  width: 25%;
  float: left;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* 메뉴바 패딩으로 간격조절 */
.banner_hover {
  display: flex;
  padding: 19px 15px;
}

.banner_bg {
  background-color: rgba(255, 255, 255, 0.5);
}
.banner_hover > span {
  width: 30px;
}

#maincontents {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 100vw;
  z-index: 5;
  color: #fff;
  transform: translate(0, -15%);
  transition: 0.5s;
}
.main_btn {
  position: absolute;
  bottom: -30%;
  left: 0%;
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 15pt;
  text-align: center;
  z-index: 5;
}

.main_btn:hover {
  background-color: white;
}

.main_btn:hover a {
  color: coral;
}

.main_btn a {
  color: white;
  text-decoration: none;
  line-height: 32px;
}

#textbox {
  font-size: 3vw;
}

.txt_hide {
  opacity: 0;
}

#textbox .view2 {
  position: absolute;
  top: 15%;
  left: 0%;
  transform: translate(0, -50%);
  transition: 1s;
  opacity: 1;
  z-index: 30;
}

#section1 {
  width: 90%;
  height: 1500px;
}

.title {
  padding: 41px;
  position: relative;
}

.title h1 {
  font-size: 1.5vw;
  color: white;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.momentNav {
  width: 97%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.momentNav li {
  width: 100%;
  padding: 0px 18px;
  position: relative;
}

.momentNav li > a {
  text-decoration: none;
  color: white;
  display: block;
}

.momentNav p {
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.li_img > img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

/* 슬라이드  pagination 카운트*/
#slidetr {
  position: absolute;
  width: 50px;
  height: 100px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  top: 50%;
  right: 1%;
  perspective: 1000px;
  z-index: 10;
}

#slidetrx .view {
  opacity: 1;
}

/* 슬라이드 메뉴 폰트넣는곳 */
.slideInner1 {
  position: absolute;
  transition: all 0.5s;
  font-family: "YESGothic-Regular";
  transform: rotateY(0deg);
  transform-origin: 50% 50%;
  border: none;
  opacity: 0;
}

#slideInner2 {
  position: absolute;
  bottom: 44%;
  font-family: "YESGothic-Regular";
}

.slideInner1:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 1px;
  top: auto;
  bottom: -4px;
  left: 0;
  background-color: white;
  opacity: 0.5;
}

/* 섹션1 하단 슬라이드 시작 */
.swiperBg {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper {
  width: 98%;
  height: 100%;
  /* position: relative; */
  z-index: 0;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-flow: column;
}
.category_title {
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  text-align: left;
  color: white;
}
/* 버튼 크기 조절해야함 */
.category_info {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 15%;
  right: 1%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.on {
  background-color: black;
  border-color: gold;
  transform: scale(1.1);
}
.on:active::before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: " ";
  transition: all 5s;
  background-color: rgba(255, 0, 0);
}

.on:active::before {
  width: 0%;
}
.category_info img {
  width: 100%;
}
/* .swiper-button-prev::after, */
.swiper-button-next::after {
  display: none;
}
.button-next img {
  width: 2%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, -150%);
}
.button-prev img {
  width: 2%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-250%, -154%);
}

#section2 {
  width: 100%;
}

.flow_wrap {
  width: 70%;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.flow_list {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
}
.flow_list::after {
  background-color: white;
  z-index: 10;
}

.flow_list > li {
  font-size: 40pt;
}
@keyframes flowRolling {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.block_wrap {
  display: flex;
  justify-content: space-around;
}

.block_box {
  width: 95%;
  display: flex;
  overflow: hidden;
}

.box_text img {
  width: 95%;
  height: 450px;
  border: 1px solid white;
  border-radius: 5px;
}
.box_text {
  position: relative;
}

.box_text > span {
  position: absolute;
  font-size: 11pt;
  color: white;
  top: 0;
  left: 0;
  transform: translate(30%, 100%);
}
.new_wrap {
  width: 100%;
  height: 350px;
}
.All_New {
  width: 100px;
  height: 20px;
  float: right;
  background-color: black;
  border-radius: 10px;
}
.All_New span {
  color: white;
  font-size: 1.5vh;
  line-height: 20px;
  margin-left: 5px;
  font-family: "YESGothic-Regular";
}
.new_box {
  width: 96%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-left: 29px;
}
.new_img {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.new_text h1 {
  color: white;
  font-size: 16pt;
}
.new_text span {
  color: white;
  font-size: 10pt;
}
.new_img img {
  width: 60%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}
.new_text {
  width: 30%;
}
.new_text::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-bottom: 1px solid bisque;
  z-index: 10px;
}
.scroll_bg {
  position: relative;
}
.scroll_bg::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid bisque;
  z-index: 10px;
}
.scroll_bg img {
  width: 100%;
  height: 100%;
}
.scroll_text {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.scroll_text h1 {
  font-size: 5vw;
  color: white;
  font-family: 'YESGothic-Regular';
}

.okd {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.okd li {
    font-size: 2vw;
    color: white;
  }